/*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/release.yml
!.github/workflows/pages.yml

!go.mod
!go.sum

!LICENSE
!README.md
!CONTRIBUTING.md

!shell.nix
!flake.nix
!flake.lock

!build-local.sh

!cmd/
!internal/

!docs/
docs/node_modules/
docs/dist/
docs/public/sql-wasm.wasm
docs/public/sql-wasm-browser.wasm
